<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hooray! 🎉, extension is installed successfully!</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <h1><img class="logo" src="everyone128.png">tagEveryone</h1>
    <h4>Tag everyone in a WhatsApp group in one click!</h4>
    <hr>
    <main>
        <h3>⚠️ Important: WhatsApp will prevent the extension from working without human interaction with chatbox.</h3>
        <iframe width="420" height="315" src="https://youtube.com/embed/J_sHum3g14A?autoplay=1" frameborder="0"></iframe>
        
        <div class='usage'>
            <h2>Summary Usage:</h2>
	    <p> <b>Step 1. </b>Make sure to initiate the text box by typing any <b>random text</b> (because at the end it will be
                overwritten) into it.</p>
            <p><b>Step 2. </b>Click on the extension and select appropriate option.</p>
	    <p><b>Step 3. </b>After, injection by extension, <b>add a space</b> or any text you want to add in the message.</p>
            <em>Simply put, you should 'wrap' extension activity within human activity.</em>
        </div>
    </main>
    <footer>
        <a href="https://github.com/amit0617/tagEveryone"><img src="GitHub-Mark-32px.png" alt="github"></a><p>Open Source!</p>
    </footer>
</body>

</html>
