body {
    user-select: none;
    position: relative;
    width: 90vw;
    height: 55.62vw;
    margin: 0 5% 0 5%;
    border-radius: 20px;
}

h1 {
    color: rgb(17, 0, 170);
    text-decoration: solid;
}

h4 {
    color: rgb(14, 75, 189);
    top: 10vh;
}

hr {
    color:rgb(247, 227, 49);
}

h3 {
    color: rgb(139, 0, 23);
}

.logo{
    width: 50px;
    height: 50px;
}

footer {
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute 
}